@font-face {
  font-family: 'baac';
  src: url('/fonts/baac-regular-webfont.woff2') format('woff2'),
       url('/fonts/baac-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'baac';
  src: url('/fonts/baac-bold-webfont.woff') format('woff2'),
       url('/fonts/baac-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}